.home-div{
    height: 400px;
    width: 100%;
    background-color: aquamarine;
}
.fun-div{
    height: 500px;
    width: 100%;
    background-color: purple;
}
nav{
    display: flex;
    justify-content: space-between;
}
.next-div{
    height: 500px;
    width: 80%;
    margin: 0 auto;
    background-color: blue;
}